<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Xi Lin</title>
  </head>
  <body>
    <h1>Hi, my name is Xi Lin and I code for a living.</h1>
    <p>I'm currently working full time as a front-end developer</p>
    <h3>I have no time for freelance work, but I'm open to pro bono if it interests me</h3>
    <ul>
      <li><a href="https://www.linkedin.com/pub/xi-lin/24/aa5/a77">LinkedIn</a></li>
      <li><a href="https://github.com/Richardxlin">Github</a></li>
      <li><a href="/chat">Chatroom</a></li>
    <ul>
  </body>
</html>
